/* App specific styles */
/* Inputs */
input[type="number"],
input[type="time"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  padding: 8px;
  /* Increased padding */
  height: 40px;
  /* Explicit height */
  line-height: 22px;
  /* Explicit line-height for vertical alignment */
  font-size: 16px;
  /* Explicit font size */
  box-sizing: border-box;
  /* Ensure proper sizing */
  vertical-align: middle;
}